body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.canvasOne,
.canvasTwo,
.canvasThree,
.canvasFour,
.canvasFive,
.canvasSix,
.canvasSeven
 {
    background: gray;
}